project/team project2-data mining/기타/티셀파_텍스트마이닝_과정.ipynb
project/team project2-data mining/기타/티셀파_텍스트마이닝_코드정리2.ipynb
project/team project2-data mining/기타/팀플2.txt
project/team project2-data mining/기타/프로젝트-시각화(T셀파)-3.ipynb
